# Server Configuration
PORT=3000

# OMDB API Configuration
OMDB_API_KEY=b1b39df5

# Session Configuration: Secret Key aus Konsole oder mit RandomKeygen generieren
SESSION_SECRET=d7b56aac6998dba3bd80bc2865d0447058e0a106dc28842f74638a6f260421e5
